.content,
.result{
	margin-bottom: 15px;
}
.content{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
}
.badge{
	white-space: normal;
}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eeeeee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
    background-color: #e0f6fc;
}
.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout-info .badge {
	background-color: #1b809e;
}
td, th{border: 1px solid #777777;padding: 5px 10px;}
table{border-collapse: collapse;border-spacing: 0; margin-bottom: 10px;}
