<p>Каждый из врачей – <strong>дипломированный специалист</strong> с обширным опытом работы.</p>
<p>Регулярно проходят <strong>повышение квалификации в России и за рубежом</strong>, перенимая опыт коллег, участвуют в конференциях и профильных мероприятиях. Только постоянное развитие позволяет применять при лечении пациентов <strong>передовые методики</strong>, делающие лечение более качественным и безболезненным.</p>