<p>Клиника эстетической стоматологии &laquo;ВайтДент&raquo;&nbsp;&mdash; многопрофильное лечебное учреждение в&nbsp;Санкт-Петербурге, которое работает на&nbsp;рынке уже 19&nbsp;лет (с&nbsp;2004&nbsp;года). Вошла в&nbsp;топ-10 клиник по&nbsp;имплантации (версия &laquo;Комсомольской правды&raquo;).</p>
<p>У&nbsp;нас работают специалисты во&nbsp;всех сферах современной стоматологии. Каждый врач&nbsp;&mdash; профессионал высокого уровня квалификации, с&nbsp;опытом работы до&nbsp;двух десятилетий. </p>
<p>Для успешной диагностики, безошибочного планирования лечения работаем на&nbsp;компьютерном томографе немецкого бренда, итальянской рентгенологической установке XPLOR-X 70. </p>
<p>Высокого качества стоматологической помощи достигаем с&nbsp;помощью оборудования, инструментов и&nbsp;материалов ведущих брендов: SDS-2000 (США), W&amp;H (Австрия), NSK (Япония), MOSOM (Италия), TURBO-SMART фирмы CATTANI (Италия). В&nbsp;клинике действует собственная зуботехническая лаборатория. </p>
