.question_item {
	padding: 15px;
	margin-bottom: 30px;
	float: left;
	border: 1px solid gray;
	border-radius: 5px;
	width: 610px;
}
.question_item.answered {
	border: 1px solid green;
}
.question_item.unanswered {
	border: 1px solid red;
}
.question_item span {
	font-weight: bold;
}
.question_item p {
	float: left;
}
.question_item .category {
	width: 50%;

}
.question_item .topic {
	width: 100%;
}
.question_item .question {
	width: 100%;
}
.question_item .name {
	float: right;
}
.question_item .date {
	width: 70%;
	color: black !important;
	font-size: 100% !important;
}
.question_item .date span {
	font-weight: bold !important;
}
.question_item .detail {
	float: right;
}
.question_item img {
	float: left;
	width: 100px;
	margin-right: 20px;
	margin-bottom: 20px;

}
.question_item .answerer {
	width: 70%;
}
.question_item ul {
	float: left;
	width: 100%;
}
.question_item .link_questions {
	width: 100%;
}
.question_item .link_item {
	margin-bottom: 0px;
}