/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 5px 0px;
	/*background:#F5F5F5 url(images/left_menu_bg.gif) top repeat-x;*/
}

ul.left-menu li a
{
	font-size:100%;
	color:#1f84af;
	text-decoration:underline;
}

ul.left-menu li a:visited
{
	color:#1f84af;
}

ul.left-menu li a:hover
{
	color:#76bad7;
	font-weight: bold;
	text-decoration: none;
}


ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#1f84af;
	font-weight: bold;
	text-decoration: none;
}


