input[name="req_name"]{
    display: none;
}

input[name="whitedent_field"] {
    display: block;
    width: 2px;
    height: 2px;
    margin-bottom: -2px;
    border: none;
    padding: 0;
    opacity: 0.01;
}
.secret {
    display: block;
    width: 2px;
    height: 2px;
    margin-bottom: -2px;
    border: none;
    padding: 0;
    opacity: 0.01;
}

/* Валидация форм */
.validation-message{
    display: none;
    background-color: #ef6673;
    color: #ffffff;
    padding: 5px 5px 7px;
    font-size: 13px;
    width: 100%;
}
.validation-error-required .validation-message-required,
.validation-error-email .validation-message-email,
.validation-error-max-chars .validation-message-max-chars,
.validation-error-min-chars .validation-message-min-chars,
.validation-error-regex .validation-message-regex{
    display: block;
}
.validation-error input,
.validation-error textarea{
    border: 1px solid #ef6673 !important;
    border-radius: 0 !important;
}
.validation-error input:focus,
.validation-error textarea:focus{
    box-shadow: none;
}
.validation-error.validation-error-required.radio_block > div{
    border: 1px solid #ef6673 !important;padding: 5px;
}
.capcha__error-code{
    color: red;
    padding-bottom: 15px;
}
.captcha__img{
    margin: 1rem 0 2rem;
}
.hidden{
    display: none;
}
/* /Валидация форм */
