.img-r {margin:0 0 10px 15px; float:right;max-width:220px;}
.img-l {margin:0 15px 10px 0; float:left;max-width:220px;}

.content-table {margin-bottom: 20px;width:100%;}
 .content-table tr td {border: 1px solid #A3A3A3;padding: 5px 10px;}
 .content-table tr:nth-child(2n+1) td {background-color:#F9F9F9;}
 .content-table tr th {background-color: #F0F0F0;border: 1px solid#A3A3A3;padding: 5px 10px;font-weight:bold;}
 
.boxShadow2 {
 /* width: 80%;
  /*max-width: 550px;*/
  margin: 10px auto;
  padding: 1em;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
   }
   .boxShadow2 > b {
font-size: 20px;
color: #B71B30;
}
   .boxShadow3 {
   font-size: 18px; width: 80%; max-width: 550px; margin: 1em auto; padding: 1em; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; background-image: radial-gradient(circle at 0px 0px, rgba(255, 255, 255, 0.65098), rgba(255, 255, 255, 0.34902)); background-color: rgb(238, 230, 230); box-shadow: rgba(0, 0, 0, 0.498039) -3px -3px 8px inset, rgba(255, 255, 255, 0.901961) 3px 3px 8px inset, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
   }
.ask_question_form {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}
.ask_question_form .left_col {
  float: left;
width: 50%;
}
.ask_question_form .left_col input{
width: 220px;
margin-bottom: 20px;
padding: 3px;
}
.ask_question_form .right_col input {
  width: 220px;
  margin-bottom: 20px;
  padding: 3px;
}
.ask_question_form .right_col select {
width: 231px;
padding: 3px;
cursor: pointer;
}
.ask_question_form .right_col {
  float: right;
  text-align: right;
width: 50%;
}
.ask_question_form textarea {
  width: 100%;
	height: 100px;
padding: 3px;
	resize:none;
}
/**.ask_question_form {
  display: none;
}**/
.ask_question_form input[type="submit"] {
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.ask_title {
  text-align: center;
font-size: 22px;
border-bottom: 2px black dashed;
margin-left: 39%;
margin-right: 40%;
margin-bottom: 20px;
margin-top: 20px;
cursor: pointer;
}