.img-gallery { float: left;margin: 0 14px 14px 0;border: 2px solid #B85F00;}
.img-gallery:hover {border: 2px solid #E87903;}
.img-gallery a {display: block;width: 145px;height: 108px;overflow: hidden;}