<p>Ценообразование в наших клиниках очень прозрачно и включает в себя практически все дополнительные манипуляции, которые часто оплачиваются отдельно.</p>
<p>Поэтому, на первый взгляд, стоимость лечения и может показаться высокой. Но это цена на стоматологические услуги клиники «под ключ», без каких-либо «скрытых платежей», и включает всё необходимое.</p>
<p>Если же в рекламе вы встречаете низкие цены на стоматологию в Санкт-Петербурге, то, зачастую, сюда входит только стоимость пломбировочного материала без анестезии, коффердама, лечебных и изолирующих подкладок.</p>
<p>Важно понимать, что качественное лечение не может быть дешевым. Здоровье — это самое дорогое, что есть у человека, и его за деньги не купишь, его можно только сохранить.</p>
<p>Поэтому мы хотим, чтобы все наши пациенты понимали, что они покупают не пломбу, не коронку, не имплантат, а лечение и уверенность в сохранении своего здоровья.</p>
<p>За свою работу мы отвечаем и даем гарантию.</p>
