<div class="page-subsection">
	<p>Раздел «Отзывы» является частью корпоративной системы контроля качества. Убедительно просим соблюдать следующие правила:</p>
	<ul class="list-marked list-marked--w-prev-par">
		<li>Не оставлять вымышленных отзывов. В случае, если вы не хотите сообщать информацию о себе на сайт, просьба отправлять ваши Ф.И.О. на почтовый адрес send@whitedent.spb.ru;</li>
		<li>Не оставлять отзывы, написанные в некорректной форме, содержащие оскорбления в адрес компании, отдельных клиник и сотрудников, а также клиник-конкурентов;</li>
		<li>Не оставлять отзывы, содержащие рекламную информацию, в том числе ссылки на другие сайты.</li>
	</ul>
</div>

<div class="page-subsection">
	<p><strong>Ваши персональные данные не будут использованы для спамовой рассылки и не попадут в открытый доступ и не будут переданы третьим лицам.</strong></p>
</div>