.post-form {margin-bottom: 20px;}
.post-form td {padding-bottom:5px;}
.post-form input[type="text"] {width:200px;color:#666;font-size:12px; padding: 1px 3px;}
.post-form input[type="password"] {width:200px;color:#666;font-size:12px; padding: 1px 3px;}
.post-form textarea {width: 400px; height:150px;}

div.mfeedback {}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:80%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}

.mfeedback input[type="text"],
.mfeedback input[type="email"]{
    width: 200px;
    padding: 3px;
}