/*usability*/
.zapis,.price, .wopr, .wopr-2, .btn-note .showmap fancybox.iframe {
opacity: 0.9;
}
.zapis,.price:hover, .wopr:hover, .wopr-2:hover, .btn-note .showmap fancybox.iframe:hover {
opacity: 1.0;
}
/*usability end*/


/*articles*/
#top {width:100%; background:url('../images/from_old_template/top_about.png') 100% 0% no-repeat; height:251px;}
	.top_ie {padding-left:0%;}
	.articles_logo {width:170px; float:left; padding-top:20px;}
		.top_logo img {width:125px; height:100px;}
	.articles_name {width:500px; float:left; padding-top:60px;}
		.top_name .ph1 {padding-top:20px;}

	.menu_articles {width:100%; margin-top:-100px;}


	.articles {width:100%; margin-top:40px;}
		.articles_ie6 {padding-left:5%;}
			.articles_all {padding-bottom:50px;}
				.articles_left {width:25%; float:left; padding:40px 0px 0px 0px;}
					.art_pas {width:100%; /*overflow:auto;*/ margin-bottom:20px;}
						.art_pas p {font-size:90%; padding-right:20px;}
					.art_act {width:100%; overflow:auto; margin-bottom:20px;}
					.articles_left p {margin-right:0px; padding-left:5%}
					.tab_art_menu {width:90%; border-collapse:collapse;}
						.art1_1 {width:1%;}
						.art1 {}
						.art2 {background:url('../images/from_old_template/art_t.jpg') 0% 0% repeat-x; height:10px;}
						.art3 {background:url('../images/from_old_template/art_l.jpg') 0% 0% repeat-y;}
						.art4 {background:url('../images/from_old_template/art_r.jpg') 0% 0% repeat-y;}
						.art5 {background:url('../images/from_old_template/art_b.jpg') 0% 0% repeat-x;}
						.art6 {background-color:#fff; text-align:left; /*padding-right:10px;*/}
							.art6 p {color:#B71B30; font-size:90%; line-height:1em; margin:0px; padding:0px; padding-left:2%;}
				.articles_right {width:70%; float:left;}
					.articles_right img.big {width:640px; height:250px; border:1px solid #146C96; margin:20px 0px 25px 0px;}
						.articles_right p {padding-right:20%; /*padding-bottom:50px;*/}

/*questions*/
.questions {width:100%; margin-top:40px;}
	.questions_ie6 {padding-left:5%;}
		.questions_text_ico {width:95%;}
			.questions_text {width:75%; float:left; padding:10px 0px 30px 0px; font-size:90%;}
				.menu_question_pas_01 {float:left; height:35px; padding-right:20px;}
				.menu_question_pas {float:left; height:35px; padding-right:20px;}
					p.pas {padding-top:11px;}
				.menu_question_act_01 {float:left; height:35px; margin-left:-10px; position:relative; padding-right:20px;}
				.menu_question_act {float:left; height:35px; padding-right:20px;}
					.tab_quest_menu {border-collapse:collapse;}
				.questions_text p {/*padding-right:5%;*/}
			.questions_ico {width:24%; float:right; text-align:right; padding-bottom:50px;}
				.tab_banner {width:100%; border-collapse:collapse;}
		.quest_answer {width:100%; /*margin-left:25px;*/}
			.quest {width:96%; padding: 10px; border: 1px solid gray; margin-bottom: 10px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
			.answer {width:96%; text-align:left; padding: 10px; border: 1px solid #428bca; margin-bottom: 10px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
				.tab_answer {width:95%; border-collapse:collapse; margin-top:20px; position:relative; margin-left:-25px; margin-bottom:80px;}
					.td_tab_text {vertical-align:top; width:60%;}
						.tab_text {width:100%; border-collapse:collapse;}
							.text_td1 {height:30px; width:1%; background:url('../images/from_old_template/answ_tl.jpg') 0% 0% repeat-x;}
							.text_td2 {height:30px; width:100%; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
							.text_td3 {height:30px; width:1%;; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
							.text_td4 {background:url('../images/from_old_template/answ_l.jpg') 0% 0% repeat-y;}
							.text_td5 {text-align:left; background:#fff;}
							.text_td7 {background:url('../images/from_old_template/answ_b.jpg') 0% 0% repeat-x;}

						.td_tab_doctor {vertical-align:top; width:40%;}
							.tab_doctor {width:100%; height:140px; border-collapse:collapse;}
							.doc_td1 {height:30px; width:1%; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
							.doc_td2 {height:30px; width:100%; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
							.doc_td3 {height:50px; background:#fff;}
							.doc_td4 {background:#fff;}
							.doc_td5 {background:url('../images/from_old_template/answ_r.jpg') 0% 0% repeat-y;}
							.doc_td6 {background:url('../images/from_old_template/answ_b.jpg') 0% 0% repeat-x;}

					.answ_td1 {width:1%;}
					.answ_td2 {width:100%; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td3 {background:url('../images/from_old_template/answ_l.jpg') 0% 0% repeat-y;}
					.answ_td4 {background:url('../images/from_old_template/answ_r.jpg') 0% 0% repeat-y;}
					.answ_td5 {background:url('../images/from_old_template/answ_b.jpg') 0% 0% repeat-x;}
					.answ_td6 {width:1%; background-color:#fff;}
					.answ_td7 {width:60%; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td9 {width:40%; background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td8 {background:url('../images/from_old_template/answ_m.jpg') 0% 0% repeat-y;}
					.answ_td10 {background:url('../images/from_old_template/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td11 {background-color:#fff;}
					.answ_text {background-color:#fff; vertical-align:top; text-align:left;}
						.tab_small_doc {width:100%;}
							td.small_doc1 {width:100%; vertical-align:top; text-align:right; font-size:90%; padding-top:3px;}
								p.small_doc1 {color:#93968A; margin:0px !important; line-height:1em;}
							td.small_doc2 {width:35px; vertical-align:top;}
						img.small_ico_doc {width:25px; height:30px; border:1px solid #C6D3D2; margin-left:10px;}

	.tab_ask_quest {width:500px; text-align:left; margin-top:25px;}
		.ask_td1 {text-align:left; padding-left:40px; height:40px;}
		.ask_td2 {width:40%; text-align:right; height:40px; vertical-align:top; padding-top:5px;}
			.inp_text {width:100%; height:34px; background:url('../images/from_old_template/input_quest.jpg') 0% 0% repeat-x; border-bottom:1px solid #8B8E8A; margin-bottom:10px;}
			.textarea_text {width:100%; background:url('../images/from_old_template/input_quest.jpg') 0% 0% repeat-y; border:1px solid #8B8E8A;}
			.textarea_text {width:100%; background:url('../images/from_old_template/input_quest.jpg') 0% 0% repeat-y; border:1px solid #8B8E8A;}
		.ask_td3 {width:60%; text-align:left; padding-left:20px; }

/*photo*/
.photo {width:75%;}
	.tab_photo {width:590px;}
		.photo_td1 {width:270px; height:50px; vertical-align:top;}
		.photo_td2 {width:50px}
		.photo_td3 {width:270px; text-align:right; height:50px; vertical-align:top;}
		.photo_before {background:url('../images/from_old_template/photo_border.png') no-repeat;}
			img.pic_photo_before {width:270px; height:170px; margin:12px 15px 15px 12px;}
		.photo_comment {vertical-align:top; padding:20px 100px 80px 0px; font-size:90%;}





.ph1, .ph2, .ph3 {color:#B71B30;}
.ph1 {font-size: 22px; line-height: 24px;}
.ph2 {font-size: 20px; line-height: 22px;}
.ph3 {font-size: 18px; line-height: 20px;}


/*all*/
.blue {color:#1F84AF;}
.red {color:#B71B30;}
.gray {color:#909090;}

/* 02.09.2013 S.A.*/
table.price { border-collapse:collapse; width:100%; font-size: 15px; margin-bottom: 20px;}
table.price tr td { border-top:none;border:1px solid #1F84AF;padding:2px;color:#435d72;}
table.price tr th {border-bottom:1px; text-align:left; background-color: #1F84AF;border:1px solid #1F84AF;padding:4px;color:#fff;vertical-align:top;}

a.akcii, a.akcii:visited, a.akcii:link, a.akcii:active {text-decoration: underline;font-size: 18px;color: #F00;font-weight: bold;line-height: 13px;}
a.akcii:hover {color:#d00;text-decoration: underline;font-size: 18px;font-weight: bold;line-height: 13px;}

.links{clear: both; width: 380px; float: left; padding-top: 3px;}

#big_pic {z-Index:1; background:url('../images/from_old_template/fon.jpg') 50% 100% no-repeat; position:absolute; height:540px; width:100%;top:0px;}
.tab_menu {margin: 0 auto; margin-top:10px;}
.clear {clear: both;}

.page {width:100%; }
.page .page_ie6 {
	background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    margin-left: 235px;
    margin-right: 5%;
    margin-top: 20px;
    min-height: 1100px;
    padding: 10px;
    width: 740px;
}
.page h1, .page h2 {margin-bottom: 20px;}
.page .col-1 {width:600px; float:left; margin-right:12px;}
.page .col-2 {width: 5%;float:left; padding-top:100px;}

.page .col-left {width: 14%;float:left; padding-right: 60px;}
.page .col-right {
	background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    float: left;
    padding: 10px;
}

/*.news {margin-bottom: 400px; width: 95%; margin-right: 5%;}*/
.news td {vertical-align: top;}
.news-item div p {margin-top: 5px;}
.news-item-img div img {width: 64px; height: 64px; float: left; margin: 0 15px 0 0;-webkit-border-radius:70px;-moz-border-radius:70px;border-radius:70px; overflow: hidden !important; border: 3px solid #fff;-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);z-index:1; max-width:none;}

.news-left {margin-right: 25px;width: 10%;float: left;/*padding: 40px 0px 0px 0px;*/}
.news-right {
    background: none repeat scroll 0 0 #fff;
    float: left;
    min-height: 1100px;
    padding-left: 10px;
    text-align: left;
    width: 740px;
    border-radius: 10px;
}
.news-right img.detail {max-width:40%;margin: 0 15px 10px 0; float:left;}

.doctor-item {margin-bottom: 20px;}
.doctor-item h2 span {display: block; color: #93968A;font-size: 70%;}

.table-photo {margin-bottom: 30px;}
.table-photo td {vertical-align: top;}
.table-photo .img-before {
    border: 1px solid #c5cfd9;
}
.table-photo .doctor-info {text-align: right; padding-top: 5px;}
.table-photo .doctor-info .doctor-name {font-size: 90%;}
.doctor-img-small {float:left; margin-bottom: 10px;}
.doctor-img-small img {width: 64px;height: 74px;border: 1px solid #C6D3D2;margin-right: 10px; /*width: 64px; height: 64px; float: left; margin: 0 15px 0 0;-webkit-border-radius:70px;-moz-border-radius:70px;border-radius:70px; overflow: hidden !important; border: 3px solid #fff;-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);z-index:1; max-width:none;*/}
.doctor-specialty {color: #93968A;margin: 0px;line-height: 1em;}
.breadcrumb-navigation {/*margin-top:-10px !important;*/ font-size:90%;}
.mfeedback input[type="submit"] {padding: 3px 5px;}


.ask .required {color:tomato;}
.ask table {width: 600px;}
.ask table td {vertical-align: top; padding-right:20px;}
.ask table input[type="text"], .ask table select, .ask table textarea {padding: 3px 5px; width:350px;margin-bottom:10px;}
.ask table select {padding: 3px 3px 3px 5px; width:364px;}
.ask table textarea {height: 200px; width: 352px;resize:none;}
.ask table input[type="submit"] {padding: 3px 5px;}
.ask table input[type="checkbox"] {vertical-align: middle;}

.tab_answer {margin-bottom: 30px;}
.ico-about {display:block; width: 100px; height: 100px; border: 15px solid #fff;-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);overflow: hidden;}
.ico-about img {width: 200px !important;}

.img-l {float:left; margin:0 15px 10px 0;max-width:230px;}
.img-r {float:right; margin:0 0 10px 15px;max-width:230px;}


hr {border-bottom: 1px solid #ccc; margin: 10px;}

.license img {width:180px; margin-right: 20px;float:left;}
.block-c {float:left;}
.btn-note {margin-top: -144px;
margin-left: 363px;
width: 115px;
height: 48px;display:block;background:url('../images/from_old_template/normal-button2.png') 0 0 no-repeat;text-decoration:none;border:none!important;}

/*.btn-note:hover {background:url(images/note-btn.png) 0 -40px no-repeat;}*/
.btn-note:active {background:url('../images/from_old_template/disabled2.png') 0 0px no-repeat;}

.review-line {width:100%;overflow:hidden;height:112px;margin-bottom:20px;}
.review-line div {float: left; margin-right: 10px;}
.review-line div a,
.img-gallery a {
    display: block;
    width: 144px;
    height: 108px;
    overflow: hidden;
    border: 1px solid #c5cfd9;
}
.review-line div a:hover, .img-gallery a:hover {border: 1px solid #1F84AF;}
.img-gallery {border: none;}
.img-gallery:hover {border: none;}

.link-dashed {text-decoration: none !important;border-bottom: 1px dashed;}
.link-dashed:hover {text-decoration: none;}


.news .news-item-img, .news .news-item {padding-bottom:20px; padding-left: 15px;}
.news .news-item p {margin-bottom:0px;}

.important {margin-bottom: 20px;background-color: #2088C2;color: #FFF;padding: 20px;border-radius: 5px;font-size: 16px;border: 2px solid #0471AD;}
.img-table {margin: 0 auto 20px;font-size: 16px;}
.img-table tr td {padding: 10px 10px 0; vertical-align: middle}

.da-table {margin-bottom: 20px;font-size: 16px;margin: 0 auto 20px;border-collapse: collapse;}
.da-table td {padding: 5px;border: 1px solid;}

.banner-top{
  margin: 0 auto; margin-top: 20px;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:40px;
padding: 1px; margin-top:0px;
}




 .right-sidebar2
 {width:180px; border:0px solid red;
   float:right;}

#main {
width:1200px;
border:0px solid red;
margin:0 auto;
}

.page .page_ie6-2 {position:absolute; width:700px;}

.gallerys-bottom{
height:5100px;}

td .img-before {width:270px;}

.sub-menu-top .block-l {float:left;padding-top: 6px; position:absolute; margin-top: -196px;
margin-left: 360px;}

div.phone {color:#ed1c26;font-size:15px;width:260px; line-height: 16px; text-align: center;}

.sub-menu-top .block-r {float:right; margin: -270px 535px 0 0; position:absolute; margin: -235px 0 0 285px; text-shadow: 0 0px 0 #5bb6e3;}

.sub-menu-top .block-l .m li a.price {background: url('../images/from_old_template/xls-9.png') 0 0 no-repeat; width:120px; height:30px; background-size: contain;}

.wopr {
background: url('../images/from_old_template/qwstn.png') 0 0 no-repeat;
width: 153px;
height: 47px;
display: block;
margin-left: 10px;
}

.wopr-2 {
background: url('../images/from_old_template/w-otw.png') 0 0 no-repeat;
width: 180px;
height: 127px;
display: block;
}

.menu {width:1200px; margin-top:-50px;position:relative;z-Index:10}
.tab_menu {width:100%; border-collapse:collapse; text-align:center;}

.bottom .links a{color:#fff;}
.bottom .links a:hover{color:#dddddd;}

.blink5 {
  -webkit-animation: blink5 2s linear infinite;
  animation: blink5 2s linear infinite;
}
@-webkit-keyframes blink5 {
  0% { color: rgb(128, 0, 0); }
  5% { color: rgb(183, 65, 1); }
  100% { color: rgb(128, 0, 0); }
}

@keyframes blink5 {
  0% { color: rgb(128, 0, 0); }
  5% { color: rgb(183, 65, 1); }
  100% { color: rgb(128, 0, 0);}
}

.news-right .content-table {margin-bottom: 20px;width:100%;}
.news-right .content-table tr td {border: 1px solid #A3A3A3;padding: 5px 10px;}
.news-right .content-table tr:nth-child(2n+1) td {background-color:#F9F9F9;}
.news-right .content-table tr th {background-color: #F0F0F0;border: 1px solid#A3A3A3;padding: 5px 10px;font-weight:bold;}


   .boxShadow14 {
  width: 80%;
  max-width: 550px;
  margin: 10px auto;
  padding: 1em;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}

  .boxShadow17 {
  width: 80%;
  max-width: 550px;
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
  background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
   inset rgba(0,0,0,.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px,
   rgba(0,0,0,.8) 3px 3px 8px -3px;
}

   .cube {
  background: linear-gradient(to top, #fce25b, #ecc92b);
  box-shadow:
  -1px 0px rgb(220,195,35), 0 1px rgb(192,167,7),
  -2px 1px rgb(219,194,34), -2px 2px rgb(191,166,6),
  -3px 2px rgb(218,193,33), -3px 3px rgb(190,165,5);
  }
.boxShadow2 > b {
font-size: 20px;
color: #B71B30;
}



.content-table {margin-bottom: 20px;width:100%;}
 .content-table tr td {border: 1px solid #A3A3A3;padding: 5px 10px;}
 .content-table tr:nth-child(2n+1) td {background-color:#F9F9F9;}
 .content-table tr th {background-color: #F0F0F0;border: 1px solid#A3A3A3;padding: 5px 10px;font-weight:bold;}

.list-disc {list-style-type: disc; margin: 0 0 20px 30px;}
.list-number  {list-style-type: decimal; margin: 0 0 20px 30px;}


/*lists on pages*/

.list_on_page {
    padding-left: 30px;
    margin-bottom: 20px;
}
.list_on_page li {
    list-style-type: disc;
}

.do-i-posle-gal td{
    max-width: 270px;
}

.ul_style p {
    margin: 20px 0;
}
.ul_style {
    text-align: justify;
}
.ul_style ul {
    list-style: inherit;
	margin-left: 16px;
}

.alert{
	padding-left: 66px;
    font-size: 18px;
    line-height: 45px;
    font-weight: bold;
    color: #B71B30;
    background: url('/bitrix/templates/wd-blue/images/alert_image.png') no-repeat;
}
.alert span{
	color: #000;
}
#vkontakte-group .community_soft_head {
    display: none !important;
}
