html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
html{height:100%;}
header, nav, section, article, aside, footer{display:block;}
body{width:100%;height:100%;}
a{color:#428bc7;outline:none;text-decoration:underline;}
a:hover{text-decoration:none;}
img{border:none;}
input{vertical-align:middle;}
a#link_garantii{margin:0;background:none;color:inherit;font-size:inherit;text-align:left;display:inherit;text-decoration:underline;padding:0;border-radius:0;}
a#link_garantii:hover{text-decoration:none;}