#widgetSkidka{
    font-family: tahoma, arial, sans-serif;
    background: #fff;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -170px;
    width: 440px;
    max-width: 100%;
    height: 340px;
    border: 4px solid #428bca;
    border-left: none;
    border-radius: 0 15px 15px 0;
    z-index: 15001;
    transition: transform 500ms;
    transform: translateX(-100%) translateY(5px);
}

#widgetSkidka.widgetSkidkaOpen{

  transform: translateX(0) translateY(0);
}

#widgetSkidka .widgetSkidkaForm{
    width: 82.5%;
    margin: 36px auto;
    text-align: center;
    font-family: "RobotoRegular";
}
#widgetSkidka .widgetSkidkaFormTitle{
    font-size: 17px;
    color: #34495e;
    text-align: center;
    padding-top: 15px;
    font-family: "RobotoMedium";
}
#widgetSkidka .widgetSkidkaFormTitle span{
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 3px;
}
#widgetSkidka .widgetSkidkaFormBody{
    margin-top: 25px;
    font-size: 15px;
}
#widgetSkidka .widgetSkidkaSubscribe{
    background: #428bca;
    color: #fff;
    font-family: "RobotoBold";
    font-size: 16px;
    /*text-transform: uppercase;*/
    display: block;
    text-align: center;
    padding: 7px 25px;
    text-decoration: none;
    margin: 40px auto 0;
    width: 165px;
}
#widgetSkidka .widgetSkidkaSubscribe:hover{
    background: #3277b3;
}
#widgetSkidka .widgetSkidkaForm input[type="text"],
#widgetSkidka .widgetSkidkaForm input[type="email"]{
    color: #b4b4b4;
    display: block;
    width: 314px;
    margin: 30px auto;
    border: 1px solid #bcbdbd;
    padding: 8px;
    font-size: 16px;
    border-radius: 0;
}
#widgetSkidka .widgetSkidkaForm button{
    background: #428bca;
    color: #fbfafb;
    display: block;
    width: 273px;
    margin: 40px auto;
    border: none;
    padding: 8px 0;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;
}
#widgetSkidka .widgetSkidkaForm button:hover{
    cursor: pointer;
}

#widgetSkidka #widgetSkidkaLabel,
#widgetSkidka.widgetSkidkaOpen #widgetSkidkaLabel{
    position: absolute;
    border: none;
    top: 45px;
    right: -48px;
    background: #428bca;
    color: #fff;
    width: 44px;
    height: 250px;
    z-index: 15002;
}


#widgetSkidka #widgetSkidkaLabel:hover{
    background: #3277b3;
}
#widgetSkidka #widgetSkidkaLabel span,
#widgetSkidka.widgetSkidkaOpen #widgetSkidkaLabel span{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    display: block;
    transform: rotate(-90deg);
    transform-origin: center center 0;
    white-space: nowrap;
    position: relative;
    top: 59%;
    font-family: 'RobotoMedium';
    font-size: 22px;
}
#widgetSkidka #widgetSkidkaLabel:hover{
    cursor: pointer;
}

#widgetSkidkaClose{
    width: 16px;
    height: 16px;
    background-image: url("../images/bookPresent-close16.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 7px;
}
@media screen and (max-width: 768px) {
  #widgetSkidkaClose {
    width: 32px;
    height: 32px;
    background-image: none;
    background-color: red;
    border-radius: 50%;
  }
    #widgetSkidkaClose::before {
      content: "\00D7";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 32px;
      line-height: 30px;
      width: 32px;
      text-align: center;
      color: #fff;
    }
}
#widgetSkidkaClose:hover{
    background-position: 0 -16px;
    cursor: pointer;
}


@media (max-width: 1100px) {
    #widgetSkidka{
        top: auto;
        bottom: -4px;
    }
    #widgetSkidka #widgetSkidkaLabel{
        right: -255px;
        width: 250px;
        height: 44px;
        bottom: 5px;
        top: auto;
    }
    #widgetSkidka #widgetSkidkaLabel span{
        transform: rotate(0);
        text-align: center;
        top: 19%;
    }
    #widgetSkidka.widgetSkidkaOpen{
        bottom: 0;
        top: auto;
    }
}
