<p>Ознакомившись с фотографиями до и после протезирования и имплантации, вы сможете оценить качество работы врачей клиники и сравнить его с работами специалистов других клиник. Все работы проводятся с использованием самого современного оборудования и сертифицированных препаратов, разрешенных к использованию на территории Российской Федерации.</p>
<p>Все фотографии размещены с согласия пациентов.</p>