<div class="block-marked">
    <p>Врачи клиники выполняют самые <strong>сложные стоматологические операции</strong>, устанавливают протезы, импланты. На все виды работ распространяется <a href="/">гарантия</a>.</p>
</div>