html {height:100%;}
body {padding:0px; margin:0px; height:100%; min-height: 100%; height: auto !important; height:100%; min-width: 980px; width:expression(document.body.clientWidth > 950? "950px": "auto" ); background-color:#EBF1DD; font-size:100%;}
strong {font-weight: bold;}

* {margin:0px; padding:0px; font:0.98em/1.3 Calibri, Arial; /*color:#000000;*/}

#fon_big {width:100%; overflow:hidden; padding-top:40px;position:relative;z-Index:10}
	#fon {/*width:1280px;*/ height:500px;}
		.top {width:95%;}
			.top_logo {width:170px; float:left;}
				.top_logo img {width:125px; height:100px;}
			.top_name {width:500px; float:left;}
				.top_name .ph1 {padding-top:20px;}
			.top_phone {width:200px; float:right; text-align:right; padding-top:20px;margin-top: -100px;}
				.top_phone p {font-style:italic;}
				.top_phone big {font-style:italic; font-size:140%; color:#B71B30;}
			.fon_text {width:100%; clear:both; text-align:right; padding-top:270px;}
		
.menu {width:100%; margin-top:-50px;position:relative;z-Index:10}
	.tab_menu {width:90%; border-collapse:collapse; text-align:center;}
		.td_menu_s {width:1%;}
		.td_menu_b {width:13%;}
.white_banner {width:100%; margin-top:20px;} 
	.tab_white_banner {width:90%; border-collapse:collapse;}
		.td_10 {width:30px;}
		.td_11 {width:100%; background-color:#F9FBF6;}
			.tab_ico_text {/*width:80%;*/ border-collapse:collapse; text-align:left;}
				.tab_ico {width:1%;}
				.tab_text_ban {width:33%; text-align:left; padding-left:10px;}
		.td_12 {background:url('images/wb_l.jpg') 0% 0% repeat-y;}
		.td_13 {background:url('images/wb_r.jpg') 0% 0% repeat-y;}
 
.middle {width:100%; margin-top:40px; background:url('images/red_snivel.png') 0% 70% no-repeat;} 
	.middle_ie6 {padding-left:5%;}
	.middle_left {width:25%; float:left; padding:40px 0px 0px 0px;} 
		.middle_left p {margin-bottom:20px;}
	.middle_right {width:70%; float:left;}
		.middle_right p {padding:10px 0px 0px 0px; padding-right:7%;}
	.middle_left2 {width:25%; float:left; padding:120px 0px 0px 0px;} 
	.middle_right2 {width:70%; float:left; padding:80px 0px 0px 0px;}
		.new_index {width:100%; clear:both;}
			.new_index .new_index_ico_text {width:45%; float:left; margin-top:20px; margin-bottom:40px; /*overflow:auto;*/}
				.new_index_ico_text .new_ico {width:80px; float:left;}
					.new_ico img {width:70px; height:70px;}
				.new_index_ico_text .new_text {width:60%; float:left; font-size:90%;}
					.date {color:#93968A; font-size:90%; margin-bottom:8px;}
					.small_text {margin-top:5px; line-height:1em;}

.bottom {width:95%; clear:both; background:url('images/blue_wave.jpg') 0% 100% no-repeat; height:285px;/*255px;*/} 
	.bottom_ie6 {margin-left:5%;}
	.bottom_left {width:40%; float:left; padding-top:170px; font-size:90%; color:#fff;}
		.left-bottom {width:80%;color:#ffffff;float:left;position:relative;top:-10px;}
			.bottom_left .left-bottom a {color:#ffffff;}
			.bottom_left .left-bottom a:hover {color:#dddddd;}
		.center-bottom {width:30%;float:left;}
	.bottom_right {position:relative;top:28px;width:45%; float:right; text-align:right; padding-top:140px;}

/*articles*/
#top {width:100%; background:url('images/top_about.jpg') 100% 0% no-repeat; height:251px;}
	.top_ie {padding-left:5%;}
	.articles_logo {width:170px; float:left; padding-top:20px;}
		.top_logo img {width:125px; height:100px;}
	.articles_name {width:500px; float:left; padding-top:60px;}
		.top_name .ph1 {padding-top:20px;}
	
	.menu_articles {width:100%; margin-top:-100px;}


	.articles {width:100%; margin-top:40px;}
		.articles_ie6 {padding-left:5%;}
			.articles_all {padding-bottom:50px;}
				.articles_left {width:25%; float:left; padding:40px 0px 0px 0px;} 
					.art_pas {width:100%; /*overflow:auto;*/ margin-bottom:20px;}
						.art_pas p {font-size:90%; padding-right:20px;}
					.art_act {width:100%; overflow:auto; margin-bottom:20px;}
					.articles_left p {margin-right:0px; padding-left:5%}
					.tab_art_menu {width:90%; border-collapse:collapse;}
						.art1_1 {width:1%;}
						.art1 {}
						.art2 {background:url('images/art_t.jpg') 0% 0% repeat-x; height:10px;}
						.art3 {background:url('images/art_l.jpg') 0% 0% repeat-y;}
						.art4 {background:url('images/art_r.jpg') 0% 0% repeat-y;}
						.art5 {background:url('images/art_b.jpg') 0% 0% repeat-x;}
						.art6 {background-color:#fff; text-align:left; /*padding-right:10px;*/}
							.art6 p {color:#B71B30; font-size:90%; line-height:1em; margin:0px; padding:0px; padding-left:2%;}
				.articles_right {width:70%; float:left;}
					.articles_right img.big {width:640px; height:250px; border:1px solid #146C96; margin:20px 0px 25px 0px;}
						.articles_right p {padding-right:20%; /*padding-bottom:50px;*/}

/*service*/
/*
	.service_right {width:70%; float:left;}
		.serv_head {border-collapse:collapse; text-align:left; margin-left:1%;}
			td.serv_head {text-align:left;}
		.service_right img {border:1px solid #146C96; margin:25px 0px 25px 0px;}
			.service_right .service_text {width:75%; float:left;}
				.service_text p {padding-right:10%;}
				.service_right .service_ico {width:20%; float:left; font-size:90%;}
				.service_ico img {width:130px; height:140px; border:0px; margin:0px; padding:0px;}
*/				
/*about*/			
/*	
	.about {width:100%; margin-top:40px;}
		.about_ie6 {padding-left:5%;}
			.about_text_ico {width:90%;}
				.about_text {width:70%; float:left; padding-bottom:50px;}
					.about_text p {padding-right:5%;}
				.about_ico {width:25%; float:left; padding-bottom:50px;}
					img.ico_about {width:130px; height:130px; margin:0px 0px 30px 0px;}
*/
/*coord*/		
/*		
	.coord {width:100%; margin-top:40px;}
	.coord a{color:#1F84AF;}
		.coord_ie6 {padding-left:5%; padding-right:5%;}
			.coord_text_map {width:100%;}
				.coord_text {width:35%; float:left; padding:30px 0px 50px 0px;}
				.coord_map {float:right; text-align:right; padding:30px 0px 50px 0px;}
					img.ico_about {width:130px; height:130px; margin:0px 0px 30px 0px;}

*/
/*questions*/
.questions {width:100%; margin-top:40px;}
	.questions_ie6 {padding-left:5%;}
		.questions_text_ico {width:95%;}
			.questions_text {width:75%; float:left; padding:10px 0px 30px 0px; font-size:90%;}
				.menu_question_pas_01 {float:left; height:35px; padding-right:20px;}
				.menu_question_pas {float:left; height:35px; padding-right:20px;}
					p.pas {padding-top:11px;}
				.menu_question_act_01 {float:left; height:35px; margin-left:-10px; position:relative; padding-right:20px;}
				.menu_question_act {float:left; height:35px; padding-right:20px;}
					.tab_quest_menu {border-collapse:collapse;}
				.questions_text p {/*padding-right:5%;*/}
			.questions_ico {width:24%; float:right; text-align:right; padding-bottom:50px;}
				.tab_banner {width:100%; border-collapse:collapse;}
		.quest_answer {width:100%; clear:both;}
			.quest {width:65%;}
			.answer {width:100%; text-align:left;}
				.tab_answer {width:95%; border-collapse:collapse; margin-top:20px; position:relative; margin-left:-25px; margin-bottom:80px;}
					.td_tab_text {vertical-align:top; width:60%;}
						.tab_text {width:100%; border-collapse:collapse;}
							.text_td1 {height:30px; width:1%; background:url('images/answ_tl.jpg') 0% 0% repeat-x;}
							.text_td2 {height:30px; width:100%; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
							.text_td3 {height:30px; width:1%;; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
							.text_td4 {background:url('images/answ_l.jpg') 0% 0% repeat-y;}
							.text_td5 {text-align:left; background:#fff;}
							.text_td7 {background:url('images/answ_b.jpg') 0% 0% repeat-x;}

						.td_tab_doctor {vertical-align:top; width:40%;}
							.tab_doctor {width:100%; height:140px; border-collapse:collapse;}
							.doc_td1 {height:30px; width:1%; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
							.doc_td2 {height:30px; width:100%; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
							.doc_td3 {height:50px; background:#fff;}
							.doc_td4 {background:#fff;}
							.doc_td5 {background:url('images/answ_r.jpg') 0% 0% repeat-y;}
							.doc_td6 {background:url('images/answ_b.jpg') 0% 0% repeat-x;}

					.answ_td1 {width:1%;}
					.answ_td2 {width:100%; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td3 {background:url('images/answ_l.jpg') 0% 0% repeat-y;}
					.answ_td4 {background:url('images/answ_r.jpg') 0% 0% repeat-y;}
					.answ_td5 {background:url('images/answ_b.jpg') 0% 0% repeat-x;}
					.answ_td6 {width:1%; background-color:#fff;}
					.answ_td7 {width:60%; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td9 {width:40%; background:url('images/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td8 {background:url('images/answ_m.jpg') 0% 0% repeat-y;}
					.answ_td10 {background:url('images/answ_t.jpg') 0% 0% repeat-x;}
					.answ_td11 {background-color:#fff;}
					.answ_text {background-color:#fff; vertical-align:top; text-align:left;}
						.tab_small_doc {width:100%;}
							td.small_doc1 {width:100%; vertical-align:top; text-align:right; font-size:90%; padding-top:3px;}
								p.small_doc1 {color:#93968A; margin:0px; line-height:1em;}
							td.small_doc2 {width:35px; vertical-align:top;}
						img.small_ico_doc {width:25px; height:30px; border:1px solid #C6D3D2; margin-left:10px;}

.ask_question {position:absolute; z-Index:6; top:230px; left:20%; width:570px; border:1px solid #91AAA6; background:url('images/ask_question_back.jpg') 0% 0% repeat-y;}
	.tab_ask_quest {width:500px; text-align:left; margin-top:25px;}
		.ask_td1 {text-align:left; padding-left:40px; height:40px;}
		.ask_td2 {width:40%; text-align:right; height:40px; vertical-align:top; padding-top:5px;}
			.inp_text {width:100%; height:34px; background:url('images/input_quest.jpg') 0% 0% repeat-x; border-bottom:1px solid #8B8E8A; margin-bottom:10px;}
			.textarea_text {width:100%; background:url('images/input_quest.jpg') 0% 0% repeat-y; border:1px solid #8B8E8A;}
			.textarea_text {width:100%; background:url('images/input_quest.jpg') 0% 0% repeat-y; border:1px solid #8B8E8A;}
		.ask_td3 {width:60%; text-align:left; padding-left:20px; }

/*doctors*/
/*
.doc_shadow {background:url('images/shadow_doc.png'); width:100%; position:absolute; z-Index:17; height:1050px;}
.doctors {width:100%; height:500px;}
	.doc1 {position:absolute; z-Index:3; width:270px; float:left; height:290px; top:420px; left:50%; margin-left:-47%;}
	.doc2 {position:absolute; z-Index:5; width:240px; float:left; height:260px; top:320px; left:50%; margin-left:-35%;}
	.doc3 {position:absolute; z-Index:4; width:240px; float:left; height:260px; top:290px; left:50%; margin-left:-20%;}
	.doc4 {position:absolute; z-Index:2; width:250px; float:left; height:270px; top:350px; left:50%; margin-left:-5%;}
	.doc5 {position:absolute; z-Index:7; width:220px; float:left; height:250px; top:290px; left:50%; margin-left:10%;}
	.doc6 {position:absolute; z-Index:6; width:260px; float:left; height:280px; top:420px; left:50%; margin-left:20%;}
	.nadpis_doc2 {position:absolute; z-Index:20; width:25%; top:460px; left:250px;}
		.tab_nadp {width:90%; border-collapse:collapse;}
			.nadp1 {width:1%;}
			.nadp2 {width:100%; background:url('images/nadp_t.png') 0% 0% repeat-x; height:10px;}
			.nadp3 {background:url('images/nadp_l.png') 0% 0% repeat-y;}
			.nadp4 {background:url('images/nadp_r.png') 0% 0% repeat-y;}
			.nadp5 {background:url('images/nadp_b.png') 0% 0% repeat-x;}
			.nadp6 {background:url('images/nadp.png'); text-align:left; font-size:90%; line-height:1em; color:#000;}
				.nadp6 p {color:#B71B30; margin:0px; padding:0px;}

.doctor_alone {width:98%; position:absolute; z-Index:30; top:270px; overflow:hidden}
	.tab_doctor_alone1 {width:90%;}
			.doc_larr {position:absolute; z-index:31; top:500px; left:100; float:left;}
			.doc_img_text {position:relative; left:15%; width:684px; float:left; background:url('images/doc_back.jpg') 0% 0% repeat-y; border:1px solid #90A9A6; overflow:auto;}
				.doc_padding {padding:30px;}
					.doc_img {width:280px; float:left; text-align:left;}
						img.doc {width:250px; height:290px; border:1px solid #90A9A6; margin:0px 30px 30px 0px;}
						.ico_quest_reception {width:250px;}
							.ico_quest {width:50%; float:left;}
							.ico_reception {width:50%; float:left;}
					.doc_text {width:330px; float:left; text-align:left;}
						p.spec {color:#93968A; font-size:90%; padding:5px 0px 8px 0px; margin:0px; line-height:1em;}
						p.text_about_doc {padding-bottom:50px;}
			.doc_rarr {position:absolute; width:100px; z-index:31; top:500px; right:100}
*/
/*photo*/
.photo {width:75%;}
	.tab_photo {width:590px;}
		.photo_td1 {width:270px; height:50px; vertical-align:top;}
		.photo_td2 {width:50px}
		.photo_td3 {width:270px; text-align:right; height:50px; vertical-align:top;}
		.photo_before {background:url('images/photo_border.png') no-repeat;}
			img.pic_photo_before {width:270px; height:170px; margin:12px 15px 15px 12px;}
		.photo_comment {vertical-align:top; padding:20px 100px 80px 0px; font-size:90%;}


/*ask_question*/
/*
.service_leaf_act {width:236px; position:absolute; z-Index:50; background:url('images/service_leaf.png') 0% 100% repeat-y; font-size:90%; top:307px; left:70px; height:98px}
.service_leaf_pas {width:400px; position:absolute; z-Index:1; top:320px; left:70px; height:98px; background:url('images/service_leaf_1.png') 0% 0%; font-size:90%;}
.service_leaf_pas_2 { width:36px; position:absolute; z-Index:0; background:url('images/service_leaf_3.jpg') 0% 100% repeat-y; top:320px; left:270px; height:98px; display:block;}
	.service_leaf_text, .doctor_leaf_text {text-align:right; padding:17px 26px 10px 0px;}
		.doctor_leaf_text_act {text-align:right; margin:15px 10px 10px 0px;}
			.dop_doc_act {padding:0px 42px 7px 0px;}
			.dop_doc_act_link {padding:8px 45px 0px 0px;}
	.service_leaf_pas_1 p, .doctor_leaf_pas_1 p {padding-top:10px;} 
	.act_serv {color:#B71B30; padding:6px 0px;}
	   .act_serv img {margin: 0px 5px 0px 0px}
.doctor_leaf_act {width:236px; position:absolute; z-Index:60; background:url('images/doctor_leaf_act.png') 0% 100% repeat-y; top:435px; left:70px; height:128px; font-size:90%;}
.doctor_leaf_act_pas {width:236px; position:absolute; z-Index:6; background:url('images/service_leaf.png') 0% 100% repeat-y; top:435px; left:70px; height:98px; font-size:90%;}
.doctor_leaf_pas_1 {width:200px; position:absolute; z-Index:0; background:url('images/service_leaf_1.png') 0% 100% repeat-y; top:460px; left:70px; height:98px; font-size:90%;}
.doctor_leaf_pas_2 {width:36px; position:absolute; z-Index:0; background:url('images/service_leaf_3.jpg') 0% 100% repeat-y; top:460px; left:270px; height:98px;  display:block;}

.choice_doctor {position:absolute; z-Index:20; top:230px; left:30%; width:334px; border:1px solid #91AAA6; background:url('images/choice_doc_back.jpg') 0% 0% repeat-y;}
    .choice_doctor_p{cursor:pointer; font-size: 75%; text-align: right; text-decoration: underline; margin: 3px 5px 0px 0px}
	.dop_choice_doctor {padding:30px 0px 30px 30px;}
		.dop_choice_doctor p {padding:5px 30px 10px 0px;}
	.tab_choice_doc {width:274px; border-collapse:collapse; margin-top:15px; margin:10px 30px 0px 0px;}
		
		.choice_td1 {}
			img.middle_ico_doc {width:50px; height:60px; border:1px solid #96AEAB;}
		.choice_td2 { padding-left:10px; font-size:90%;}
			

#ask_question {width:100%;}
	.ask_quest {width:506px; height:556px; background:url('images/ask_quest_back.jpg') 0% 0% repeat-y;float:left}
	.tab_ask_question {width:450px; text-align:left; font-size:90%;}
		.askq_td1 {text-align:left; padding-left:40px; height:40px;}
		.askq_td2 {width:35%; text-align:right; height:40px; vertical-align:top; padding-top:5px;}
			.inp_text {width:100%; height:34px; background:url('images/input_quest.jpg') 0% 0% repeat-x; border-bottom:1px solid #8B8E8A; margin-bottom:10px;}
			.textarea_text {width:100%; background:url('images/input_quest.jpg') 0% 0% repeat-y; border:1px solid #8B8E8A;}
		.askq_td3 {width:65%; text-align:left; padding-left:20px; }
*/	

b {font-weight:700;}
em, i {font-style:italic;}
ul, ol {margin:0px; margin-left:20px; margin-right:15%;}

/*
h1,.ph1 {font-size:150%; margin-bottom:4px; line-height:95%;}
h2,.ph2 {font-size:140%; margin-bottom:3px;} 
h3 {font-size:130%; margin-bottom:2px;} 
h4,.ph4 {font-size:120%; margin-bottom:1px;} 
h5 {font-size:110%; margin-bottom:1px;} 
h6,.ph6 {font-size:105%; margin-bottom:1px; line-height:40%;}
*/

h1, h2, h3, ol, ul, p {margin-bottom: 20px;}
p {padding: 0 !important;}
h1, h2, h3, .ph1, .ph2, .ph3 {color:#B71B30;}
h1, .ph1 {font-size: 22px; line-height: 24px;}
h2, .ph2 {font-size: 20px; line-height: 22px;}
h3, .ph3 {font-size: 18px; line-height: 20px;}

a.white:link, a.white:visited, a.white:hover, a.white:active {color:#fff; text-decoration:none;display: block; height: 60px; width: 100%; line-height: 60px;font-size:14px;} 
a:link, a:visited, a:active {color:#1F84AF; text-decoration:underline; line-height:100%;}
a:hover {color:#76BAD7;} 
a.red:link, a.red:visited, a.red:active {color:#B71B30; text-decoration:underline;}
a.red:hover {color:#DB7482;} 

/*all*/
.blue {color:#1F84AF;}
.red {color:#B71B30;}
.gray {color:#909090;}

/* 02.09.2013 S.A.*/
table.price { border-collapse:collapse; width:100%; font-size: 15px; margin-bottom: 20px;}
table.price tr td { border-top:none;border:1px solid #1F84AF;padding:4px;color:#435d72;}
table.price tr th {border-bottom:1px; text-align:left; background-color: #1F84AF;border:1px solid #1F84AF;padding:4px;color:#fff;vertical-align:top;}

a.akcii, a.akcii:visited, a.akcii:link, a.akcii:active {text-decoration: underline;font-size: 18px;color: #F00;font-weight: bold;line-height: 13px;}
a.akcii:hover {color:#d00;text-decoration: underline;font-size: 18px;font-weight: bold;line-height: 13px;}


.sitemap{width:100%; margin-top:40px;}
.sitemap_ie6 {padding-left:5%;}

.links{clear: both; width: 380px; float: left; padding-top: 3px;}	
a.showmap {text-decoration:none; border-bottom:1px dashed; }
a.showmap:hover {text-decoration:none; border-bottom:1px dashed; }



#big_pic {z-Index:1; background:url('images/fon.jpg') 50% 100% no-repeat; position:absolute; height:540px; width:100%;top:0px;}
.tab_menu {margin: 0 auto; margin-top:10px;}
.clear {clear: both;}

.page {width:100%; margin-top:20px;}
.page .page_ie6 {margin-left:5%;margin-right: 5%;}
.page p {}
.page h1, .page h2 {margin-bottom: 20px;}
.page .col-1 {width: 65%;float:left;margin-right:5%;}
.page .col-2 {width: 25%;float:left;}

.page .col-left {width: 25%;float:left;}
.page .col-right {width: 70%;float:left;}

.news {margin-bottom: 20px; width: 95%; margin-right: 5%;}
.news td {vertical-align: top;}
.news-item {width: 45%;}
.news-item div p {margin-top: 5px;}
.news-item-img div img {width: 64px; height: 64px; float: left; margin: 0 15px 0 0;-webkit-border-radius:70px;-moz-border-radius:70px;border-radius:70px; overflow: hidden !important; border: 3px solid #fff;-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);z-index:1;}

.news-left {margin-right: 25px;width: 22%;float: left;/*padding: 40px 0px 0px 0px;*/}
.news-right {width: 75%;float: left;/*padding: 40px 0px 0px 0px;*/ text-align: justify;}
.news-right img.detail {max-width:40%;margin: 0 15px 10px 0; float:left;}

.doctor-item {margin-bottom: 20px;}
.doctor-item h2 span {display: block; color: #93968A;font-size: 70%;}
.doctor-item .doctor-img {width: 250px; margin: 0 15px 10px 0; float:left;}

.table-photo {margin-bottom: 30px;}
.table-photo td {vertical-align: top; width:50px;}
.table-photo .img-before {border: 15px solid #fff;-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);}
.table-photo .img-before img {width: 270px; height: 170px;}
.table-photo .doctor-info {text-align: right; padding-top: 5px;}
.table-photo .doctor-info .doctor-name {font-size: 90%;}
.doctor-img-small {float:right;}
.doctor-img-small img {width: 25px;height: 30px;border: 1px solid #C6D3D2;margin-left: 10px;}
.doctor-specialty {color: #93968A;margin: 0px;line-height: 1em;}
.breadcrumb-navigation {/*margin-top:-10px !important;*/ font-size:90%;}
.mfeedback input[type="submit"] {padding: 3px 5px;}


.ask .required {color:tomato;}
.ask table {width: 600px;}
.ask table td {vertical-align: top; padding-right:20px;}
.ask table input[type="text"], .ask table select, .ask table textarea {padding: 3px 5px; width:350px;margin-bottom:10px;}
.ask table select {padding: 3px 3px 3px 5px; width:364px;}
.ask table textarea {height: 200px; width: 352px;resize:none;}
.ask table input[type="submit"] {padding: 3px 5px;}
.ask table input[type="checkbox"] {vertical-align: middle;}

.tab_answer {margin-bottom: 30px;}
.ico-about {display:block; width: 100px; height: 100px; border: 15px solid #fff;-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);-moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);overflow: hidden;}
.ico-about img {width: 200px !important;}

.img-l {float:left; margin:0 15px 10px 0;max-width:230px;}
.img-r {float:right; margin:0 0 10px 15px;max-width:230px;}

div.logo {padding-top:10px;}
div.company_desc {width:260px;color:#018dcb;text-align:center;font-size:14px;}
div.phone {color:#ed1c26;font-size:20px;width:260px;text-align:center;line-height: 16px;}
div.phone span {font-size: 18px !important;}
.sub-menu-top {width: 90%;margin: 0 auto;margin-top:20px;}
.sub-menu-top .block-l {float:left;padding-top: 6px;}
.sub-menu-top .block-l .m {list-style-type: none;width:477px;margin: 0;padding: 0;}
.sub-menu-top .block-l .m li {float: left; margin-right: 10px;}
.sub-menu-top .block-l .m li a, .sub-menu-top .block-r a {font-size: 14px;}
.sub-menu-top .block-l .m li a {display: block;line-height: 24px;height: 24px;}
.sub-menu-top .block-l .m li a.price {background: url(images/xls-1.png) 0 0 no-repeat; padding-left: 30px;}
.sub-menu-top .block-l .m li a.last {margin-right: 0;}
.sub-menu-top .block-r {float:right;padding-top: 8px;}

.middle_right2 {padding-top: 0;}

hr {border-bottom: 1px solid #ccc; margin: 10px;}

.license img {width:200px; margin-right: 20px;float:left;}
.block-c {float:left;}
.btn-note {width:115px;height:35px;display:block;background:url(images/note-btn.png) 0 0 no-repeat;text-decoration:none;border:none!important;}
.btn-note:hover {background:url(images/note-btn.png) 0 -40px no-repeat;}
.btn-note:active {background:url(images/note-btn.png) 0 -82px no-repeat;}

.review-line {width:100%;overflow:hidden;height:112px;margin-bottom:20px;}
.review-line div {float: left; margin-right: 10px;}
.review-line div a, .img-gallery a {display: block; width: 145px; height: 108px; overflow: hidden;border: 2px solid #fff;}
.review-line div a:hover, .img-gallery a:hover {border: 2px solid #1F84AF;}
.img-gallery {border: none;}
.img-gallery:hover {border: none;}

.link-dashed {text-decoration: none !important;border-bottom: 1px dashed;}
.link-dashed:hover {text-decoration: none;}


.news .news-item-img, .news .news-item {padding-bottom:20px;}
.news .news-item p {margin-bottom:0px;}

.important {margin-bottom: 20px;background-color: #2088C2;color: #FFF;padding: 20px;border-radius: 5px;font-size: 16px;border: 2px solid #0471AD;}
.img-table {margin: 0 auto 20px;font-size: 16px;}
.img-table tr td {padding: 10px 10px 0;}

.da-table {margin-bottom: 20px;font-size: 16px;margin: 0 auto 20px;border-collapse: collapse;}
.da-table td {padding: 5px;border: 1px solid;}