ul.breadcrumb-navigation
{
	padding:0; margin:0;
	padding-bottom:20px;
	list-style:none;
}

ul.breadcrumb-navigation li
{
	display:inline;
}

ul.breadcrumb-navigation a
{
	
}

ul.breadcrumb-navigation span
{
	
}